@model List<LibraryAdministration.Models.DTO.BookDTO.BookDTO>
@{
    var bookCount = Model.Count;
}

@{
    ViewData["Title"] = "Library Administration";
}
@if (TempData["SuccessMessage"] != null)
{
        <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
        @TempData["SuccessMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        
        <script>
            setTimeout(function () {
                window.location.href = '@Url.Action("Index", "Book")'; 
            }, 3000);
        </script>
}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" asp-controller="Book" asp-action="Index">
            <img src="~/images/logo.png" alt="Library Logo" width="30" class="d-inline-block align-text-top">
            LibraryAdministration
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-controller="Book" asp-action="Index">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Reader" asp-action="Index">Readers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Book" asp-action="TakeBookPage">Take Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Book" asp-action="ReturnBookPage">Return Book</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <!-- Title -->
    <h1 class="mb-4 text-center">List of Books</h1>

   

    <!-- Search Section -->
    <form asp-controller="Book" asp-action="FindBooks" method="get">
        <div class="row search-section mb-4">
            <div class="col-md-4">
                <label for="searchText">Search by Text</label>
                <input id="searchText" name="searchText" type="text"  minlength="2" maxlength="20" placeholder="Enter text..." class="form-control search-field" />
            </div>
            <div class="col-md-4">
                <label for="YearOfRelease">Search by Year</label>
                <select id="YearOfRelease" name="YearOfRelease" class="form-control">
                    <option value="">Select Year</option>
                    @for (var year = 2024; year >= 1900; year--)
                    {
                        <option value="@year">@year</option>
                    }
                </select>
            </div>
            <div class="col-md-4 d-flex align-items-end justify-content-between">
                <button type="submit" class="btn btn-primary search-button">Search</button>
                <a asp-controller="Book" asp-action="AddBookPage" class="btn btn-success add-book-button ml-2">Add Book</a>
            </div>
        </div>
    </form>


   

    <!-- Books Table -->
    <div>
        <p>Total Books: @bookCount</p> <!-- Вывод количества объектов на страницу -->
    </div>
    <table class="table table-striped table-bordered" id="bookTable">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Author</th>
                <th scope="col">
                    <span>Title</span>
                    <a asp-action="SortBook" asp-route-SortByTitleAsc="true" asp-route-SortByTitleDesc="false" class="btn btn-link btn-arw"><img class="editbl" src="~/images/arrow-up.png"></a>
                    <a asp-action="SortBook" asp-route-SortByTitleAsc="false" asp-route-SortByTitleDesc="true" class="btn btn-link btn-arw"><img class="editbl" src="~/images/arrow-down.png"></a>
                </th>
                <th scope="col">
                    Release Year 
                    <a asp-action="SortBook" asp-route-SortByReleaseYearAsc="true" asp-route-SortByReleaseYearDesc="false" class="btn btn-link btn-arw"><img class="editbl" src="~/images/arrow-up.png"></a>
                    <a asp-action="SortBook" asp-route-SortByReleaseYearAsc="false" asp-route-SortByReleaseYearDesc="true" class="btn btn-link btn-arw"><img class="editbl" src="~/images/arrow-down.png"></a>
                </th>
                <th scope="col">Genre</th>
                <th scope="col">Location</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.Author</td>
                    <td><a asp-controller="Book" asp-action="GetInfoAboutBook" asp-route-id="@book.Id" class="bold-link">@book.Title</a></td>
                    <td>@book.ReleaseYear</td>
                    <td>@book.Genre</td>
                    <td>@(book.ReaderId == null || book.ReaderId == 0 ? "In Library" : "Taken")</td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <button class="page-link" id="prevPage" onclick="prevPage()">Previous</button>
            </li>
            <li class="page-item">
                <button class="page-link" id="nextPage" onclick="nextPage()">Next</button>
            </li>
        </ul>
    </nav>    
</div>

<script>
    var currentPage = 1;
    var recordsPerPage = 15;
    var rows = document.querySelectorAll("#bookTable tbody tr");

    function displayPage(page) {
        var start = (page - 1) * recordsPerPage;
        var end = start + recordsPerPage;

        rows.forEach((row, index) => {
            if (index >= start && index < end) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        });

        
        document.getElementById("prevPage").disabled = page === 1;
        document.getElementById("nextPage").disabled = page === Math.ceil(rows.length / recordsPerPage);
    }

    function prevPage() {
        if (currentPage > 1) {
            currentPage--;
            displayPage(currentPage);
        }
    }

    function nextPage() {
        if (currentPage < Math.ceil(rows.length / recordsPerPage)) {
            currentPage++;
            displayPage(currentPage);
        }
    }

    
    displayPage(currentPage);
</script>